<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img class="header-img" src="./assets/imgs/logo.png" height="50px" (click)="goToHome()">
      <!-- <ion-label class="header-title">The Phoenix</ion-label>
      <ion-label class="header-subtitle">An Educational Hub And Also Era of e-Learning</ion-label> -->
      <img class="header-logo" src="./assets/imgs/header-logo.JPG" height="50px" (click)="goToHome()">
    </ion-title>
  </ion-toolbar>
</ion-header>
