.header-title {
    position: absolute;
    top: 20px;
    padding-left: 40%;
}

.header-subtitle {
    position: absolute;
    top: 40px;
    padding-left: 40%;
    font-size: 10px;
}

.header-img {
    padding-top: 10px;
    cursor: pointer;
}

.header-logo {
    padding-top: 10px;
    cursor: pointer;
}
img.header-logo {
    max-width: 100px;
}
ion-buttons.buttons-first-slot {
    color: #c211a1;
}
.header-bg {
    background: #12174a;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    .header-title {
        padding-left: 10%;
    }
    .header-subtitle, .header-img {
        display: none;
    }
}
@media only screen and (min-width: 400px) {
    .header-title {
        padding-left: 15%;
    }
    .header-subtitle, .header-img {
        display: none;
    }
}
@media only screen and (min-width: 460px) {
    .header-title {
        padding-left: 20%;
    }
    .header-subtitle, .header-img {
        display: none;
    }
 .header-logo-1{
        display: inline;
        padding-left: 5%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header-title {
        padding-left: 25%;
    }
    .header-subtitle {
        padding-left: 17%;
        display: inline;
    }
    .header-img {
        display: inline;
    }
 .header-logo-1{
        display: inline;
        padding-left: 12%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header-title {
        padding-left: 30%;
    }
    .header-subtitle {
        padding-left: 23%;
    }
 .header-logo-1{
        display: inline;
        padding-left: 20%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-title {
        padding-left: 35%;
    }
    .header-subtitle {
        padding-left: 30%;
    }
 .header-logo-1{
        display: inline;
        padding-left: 25%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header-title {
        padding-left: 38%;
    }
    .header-subtitle {
        padding-left: 34%;
    }
 .header-logo-1{
        display: inline;
        padding-left: 30%;
    }
}

@media only screen and (min-width: 1600px) {
    .header-title {
        padding-left: 42%;
    }
    .header-subtitle {
        padding-left: 39%;
    }
 .header-logo-1{
        display: inline;
        padding-left: 35%;
    }
}