<app-custom-header></app-custom-header>
<ion-content>
  <ion-row>
    <ion-col size-xl="2" size-lg="2" size-md="1" size="0"></ion-col>
    <ion-col size-xl="8" size-lg="8" size-md="10" size="12">
      <ion-row>
        <ion-col *ngFor="let upload of studyMaterialList" size-xl="4" size-md="6" size="12">
          <ion-card (click)="downloadFile(upload)">
            <div>
              <img class="file-img" *ngIf="upload.fileExt === 'pdf'" src="./assets/imgs/pdf-icon.png">
              <img class="file-img" *ngIf="upload.fileExt === 'docx' || upload.fileExt === 'doc'"
                src="./assets/imgs/word-doc-icon.png">
              <img class="file-img" *ngIf="upload.fileExt === 'xlsx' || upload.fileExt === 'xls'"
                src="./assets/imgs/excel-xls-icon.png">
              <img class="file-img" *ngIf="upload.fileExt === 'pptx' || upload.fileExt === 'ppt'"
                src="./assets/imgs/ppt-icon.png">
              <img class="file-img" *ngIf="upload.fileExt === 'png' || upload.fileExt === 'PNG'"
                src="./assets/imgs/png-icon.png">
              <img class="file-img" *ngIf="upload.fileExt === 'jpg' || upload.fileExt === 'JPG'"
                src="./assets/imgs/jpg-icon.png">
              <img class="file-img" *ngIf="upload.fileExt === 'txt'" src="./assets/imgs/txt-icon.png">
              <img class="file-img" *ngIf="upload.fileExt === 'zip'" src="./assets/imgs/zip-icon.png">
              <img class="file-img" *ngIf="upload.fileExt === 'mp3'" src="./assets/imgs/mp3-icon.png">
              <img class="file-img" *ngIf="upload.fileExt === 'avi'" src="./assets/imgs/avi-icon.png">
              <img class="file-img" *ngIf="upload.fileExt === 'mp4'" src="./assets/imgs/mp4-icon.png">
              <img class="file-img"
                *ngIf="upload.fileExt !== 'mp4' && upload.fileExt !== 'avi' && upload.fileExt !== 'mp3' && upload.fileExt !== 'zip' && upload.fileExt !== 'txt' && upload.fileExt !== 'jpg' && upload.fileExt !== 'JPG' && upload.fileExt !== 'png' && upload.fileExt !== 'PNG' && upload.fileExt !== 'pptx' && upload.fileExt !== 'ppt' && upload.fileExt !== 'xlsx' && upload.fileExt !== 'xls' && upload.fileExt !== 'docx' && upload.fileExt !== 'doc' && upload.fileExt !== 'pdf'"
                src="./assets/imgs/document.png">
            </div>
            <ion-card-header class="card-header">
              <ion-card-subtitle>{{upload.filePath}}</ion-card-subtitle>
              <ion-card-title>{{upload.fileName}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size-xl="2" size-lg="2" size-md="1" size="0"></ion-col>
  </ion-row>
</ion-content>
<app-custom-footer></app-custom-footer>
