<ion-content>
  <ion-row>
    <ion-col size-xl="4" size-lg="3" size-md="2" size="0"></ion-col>
    <ion-col size-xl="4" size-lg="6" size-md="8" size="12">
      <ion-card class="card-content">
        <img src="./assets/imgs/logo2.png">
        <ion-card-header class="card-header">
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>    
        <ion-card-content>
          <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="prelogin()">
            <ion-item>
              <ion-label position="floating">Email / Phone</ion-label>
              <ion-input type='Email' formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type='Password' formControlName="password"></ion-input>
            </ion-item>
            <ion-button type="submit" color="danger" expand="block" shape="round" class="mar-top-30" [disabled]="!loginForm.valid">
              <ion-icon slot="end" name="log-in-outline"></ion-icon>
              Login
            </ion-button>
            <ion-button color="danger" expand="block" shape="round" fill="clear" class="mar-top-30" (click)="forgotPassword()">
              <ion-icon slot="end" name="create-outline"></ion-icon>
              Forgot Password? Click Here
            </ion-button>
            <ion-button color="danger" expand="block" shape="round" fill="clear" class="mar-top-30" (click)="goToRegistration()">
              <ion-icon slot="end" name="create-outline"></ion-icon>
              New User? Register Here
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xl="4" size-lg="3" size-md="2" size="0"></ion-col>
  </ion-row>

</ion-content>
