<ion-content>
  <ion-row>
    <ion-col size-xl="4" size-lg="3" size-md="2" size="0"></ion-col>
    <ion-col size-xl="4" size-lg="6" size-md="8" size="12">
      <ion-card class="card-content">
        <img src="./assets/imgs/logo2.png">
        <ion-card-header class="card-header">
          <ion-card-title>Forgot Password</ion-card-title>
        </ion-card-header>    
        <ion-card-content>
          <div *ngIf="!showOtpBox">
            <ion-item>
              <ion-label position="floating">Email / Phone</ion-label>
              <ion-input type='Email' [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-button type="submit" color="danger" expand="block" shape="round" class="mar-top-30" [disabled]="!email" (click)="generateOtp()">
              <ion-icon slot="end" name="log-in-outline"></ion-icon>
              Submit
            </ion-button>
          </div>
          <div *ngIf="showOtpBox">
            <ion-item>
              <ion-label position="floating">OTP</ion-label>
              <ion-input type='Password' [(ngModel)]="otp"></ion-input>
            </ion-item>
            <ion-button type="submit" color="danger" expand="block" shape="round" class="mar-top-30" [disabled]="!otp" (click)="validateOtp()">
              <ion-icon slot="end" name="log-in-outline"></ion-icon>
              Validate
            </ion-button>
            <ion-button color="danger" expand="block" shape="round" fill="clear" class="mar-top-30" [disabled]="!enableResend" (click)="generateOtp()">
              <ion-icon slot="end" name="create-outline"></ion-icon>
              Reset OTP <span *ngIf="!enableResend">&nbsp; Wait {{time}} Seconds</span>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xl="4" size-lg="3" size-md="2" size="0"></ion-col>
  </ion-row>

</ion-content>
