<app-custom-header></app-custom-header>
<ion-content>
  <ion-row>
    <ion-col size-xl="2" size-lg="2" size-md="1" size="0"></ion-col>
    <ion-col size-xl="8" size-lg="8" size-md="10" size="12">
      <ion-card class="card-content">
        <ion-card-header class="card-header">
          <ion-card-title>CONTACT US</ion-card-title>
        </ion-card-header>    
        <ion-card-content>
          <ul>
            <li>
              <ion-label>
                <h1>Registered office</h1>
                <p>BARADONGAL PHOENIX EDUCATIONAL SOCIETY. Registration no-SO187615 of 2011-2012</p>
              </ion-label>
            </li>
            <li>
              <ion-label>
                <h1>Adress</h1>
                <p>VILL+P.O. BARADONGAL , P.S. ARAMBAGH , DIST -HOOGHLY ,PIN-712617, W.B. INDIA.</p>
              </ion-label>
            </li>
            <li>
              <ion-label><h1>E-Mail</h1></ion-label>
            </li>
            <li>
              <ion-label>
                <h1>CONTACT NO</h1>
                <p>(03211)261-499</p>
              </ion-label>
            </li>
          </ul>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xl="2" size-lg="2" size-md="1" size="0"></ion-col>
  </ion-row>
</ion-content>
<app-custom-footer></app-custom-footer>
