.slide-image img {
    max-height: 300px;
    width: 100% !important;
}

.banner-img {
    text-align: center;
}

ion-card {
    width: 100%;
}

.welcome-content {
    background-color: #f0f0f0;
    font-size: 15px !important;
    font-weight: 400 !important;
    padding: 20px;
    color: black;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.slider {
    background: #de09a4;
}
.slider ion-card {
    box-shadow: none !important;
}
.subtitle {
    color: #fff;
}
@media only screen and (min-width: 1200px) {
    ion-card-content {
        font-size: 25px;
        color: #fff;
    }
    ion-row.about-row {
        padding: 50px 9% 0;
    }
    .about-text {
        padding-top: 103px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    ion-card-content {
        font-size: 20px;
        color: #fff;
    }
    
}

@media only screen and (max-width: 768px) {
    ion-card-content {
        font-size: 15px;
        color: #fff;
    }

}