ion-item {
    border: 1px solid #00000061;
    border-radius: 50px;
    margin: 5px;
}

.card-header {
    text-align: left;
}

ion-card-title {
    color: brown !important;
}

ion-label {
    font-family: 'phoenix-font' !important;
    color: black;
}

ion-card {
    cursor: pointer;
    font-family: 'phoenix-font' !important;
    background-color: #d7d8da63;
    box-shadow: 10px 10px 10px 0 #00000061;
    ion-card-title {
        font-size: 35px;
        font-weight: 600;
    }
    ion-card-content {
        font-size: 25px;
        color: black;
    }
}

ion-card:hover {
    background-color: #9af5f1;
}
