.icon-link {
    height: 30px;
    width:  30px;
    margin: 0px 10px;
    // padding-top: 10px;
    // cursor: pointer;
}

.icon-map {
    height: 30px;
    width:  30px;
    margin: 0px 10px;
    // padding-top: 5px;
    // cursor: pointer;
}

.play-batch {
    width: 40% !important;
}

.fb {
    color: #3b5998 ;
}

.yt {
    color: #c4302b ;
}

.fdb {
    color: #ffd300;
}

ion-item {
    cursor: pointer;
    direction: rtl;
}
ion-footer.md.footer-md.hydrated {
    background: #2e2e2e;
}
ion-item {
    --ion-background-color: #2e2e2e;
}
ion-item img {
    width: 50px;
}
@media only screen and (max-width: 767px) {
    span {
        font-size: 14px;
    }
}

@media only screen and (max-width: 576px) {
    span {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .play-batch {
        width: 50% !important;
    }
}

@media only screen and (min-width: 1600px) {
    .play-batch {
        width: 40% !important;
    }
}