<ion-footer>
  <ion-row>
    <ion-col offset-xl="4" size-xl="2" size-md="3" size="3">
      <ion-item lines="none" (click)="openFB('ThePhoenixHelpline')">
        <ion-icon class="icon-link fb" name="logo-facebook"></ion-icon>
        <span class="fb">Follow Us</span>
      </ion-item>
    </ion-col>
    <ion-col size-xl="2" size-md="3" size="3">
      <ion-item lines="none" (click)="openYT('UC6v1wd5bKwlgX1H_PPxZkZQ')">
        <ion-icon class="icon-link yt" name="logo-youtube"></ion-icon>
        <span  class="yt">Subcribe Us</span>
      </ion-item>
    </ion-col>
    <ion-col size-xl="2" size-md="3" size="3">
      <ion-item lines="none" (click)="openMap()">
        <img src="./assets/imgs/maps.png" class="icon-map">
        <span>Locate Us</span>
      </ion-item>
    </ion-col>
    <ion-col size-xl="2" size-md="3" size="3">
      <ion-item lines="none" (click)="feedback()">
        <ion-icon class="icon-link fdb" name="chatbubbles-outline"></ion-icon>
        <span class="fdb">Feedback</span>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-footer>