ion-item {
    border: 1px solid #00000061;
    border-radius: 50px;
    margin: 5px;
}

ion-card-title {
    color: brown !important;
}

ion-card-subtitle   {
    color: black;
    font-size: 20px;
}

ion-label {
    font-family: 'phoenix-font' !important;
    color: black;
}

ion-card {
    font-family: 'phoenix-font' !important;
    background-color: #d7d8da63;
    box-shadow: 10px 10px 10px 0 #00000061;
    ion-card-title {
        font-size: 35px;
        font-weight: 600;
    }
    ion-card-content {
        font-size: 25px;
        color: black;
    }
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.labelfile {
    font-size: 30px;
    background-color: #eb445a;
    color: #ffffff;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid #eb445a;
    margin: 5px;
    cursor: pointer;
}

.tabs-inner {
    display: none !important;
}