<ion-content>
  <ion-row >
    <ion-col size-xl="2" size-lg="2" size-md="1" size="0"></ion-col>
    <ion-col size-xl="8" size-lg="8" size-md="10" size="12">
      <ion-card *ngFor="let notice of noticeList" (click)="editNotice(notice)">
        <ion-card-header class="card-header">
          <ion-card-title>{{notice.title}}</ion-card-title>
          <ion-card-subtitle>{{notice.subTitle}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              {{notice.body}}
            </ion-col>
            <ion-col size="6">
            <span class="start-date">StartDate: {{notice.startDate}}</span>
            </ion-col>
            <ion-col size="6">
              <span class="end-date">EndDate: {{notice.endDate}}</span>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-label class="notice-status">{{notice.isActive ? 'Active' : 'Disabled'}}</ion-label>
      </ion-card>
    </ion-col>
    <ion-col size-xl="2" size-lg="2" size-md="1" size="0"></ion-col>
  </ion-row>
</ion-content>