<app-custom-header></app-custom-header>
<ion-content>
  <ion-row>
    <ion-col size-xl="2" size-lg="2" size-md="1" size="0"></ion-col>
    <ion-col size-xl="8" size-lg="8" size-md="10" size="12">
      <ion-card class="card-content">
        <ion-card-header class="card-header">
          <ion-card-title>IMPORTANT LINKS</ion-card-title>
        </ion-card-header>    
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>
                <a href="http://wbbse.org/">1. M.P. BOARD</a>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <a href="https://wbchse.nic.in/"> 2. H.S. COUNCIL</a>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <a href="https://www.pbssd.gov.in/">3. UTKARSHA BANGLA</a>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xl="2" size-lg="2" size-md="1" size="0"></ion-col>
  </ion-row>
</ion-content>
