.remove {
    padding-top: 5px;
    height: 30px;
    width: 30px;
    color: red;
    cursor: pointer;
}

.total {
    font-size: 20px;
    background-color: #6dabad;
    color: #ffffff;
}

ion-item {
    border: 1px solid coral;
    border-radius: 50px;
    margin: 5px;
}

.suggestion {
    font-size: 20px;
    color: coral;
}