.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    white-space: normal;
}

.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
    white-space: normal;
}

ion-card {
    font-family: 'phoenix-font' !important;
    background-color: #d7d8da63;
    box-shadow: 10px 10px 10px 0 #00000061;
    ion-card-title {
        font-size: 35px;
        font-weight: 600;
    }
    ion-card-content {
        font-size: 25px;
        color: black;
    }
}

ion-card-title {
    color: brown !important;
}

ion-label, p {
    font-family: 'phoenix-font' !important;
    color: black;
    font-size: 25px !important;
}