
<app-custom-header></app-custom-header>
<ion-content>
  <ion-row>
    <ion-col size-xl="2" size-lg="2" size-md="1" size="0"></ion-col>
    <ion-col size-xl="8" size-lg="8" size-md="10" size="12">
      <ion-card>
        <ion-card-header class="card-header">
          <ion-card-title>Spoken English</ion-card-title>
        </ion-card-header>    
        <ion-card-content>
          <h1>Want to speak English fluently?</h1>
          <p>Our Spoken English course is designed to help you achieve a natural speaking style, as well as gain confidence in speaking English. 
            With our Spoken English modules, you will talk, practice and improve your pronunciation and intonation. 
          </p>
          <br>
          <p>Whatever your motivation for learning English, we can help!</p>
          <br>
          <p>We are pioneers and world leaders in English teaching and provide a learning experience that is enriching, 
            interactive, social and stimulating. And you learn more effectively! 
            Our centres are equipped with multimedia resources, libraries and the latest technology to help you make the most of your learning experience.
          </p>
          <p>You will:</p>
          <ul>
            <li>practice your English and achieve greater fluency and accuracy.</li>
            <li>learn to use English in a spontaneous way, making use of natural pauses. </li>
            <li>debate with fellow students and make presentations in English. </li>
            <li>acquire the necessary confidence to communicate and connect in diverse contexts</li>
          </ul>
          <br>
          <p>You’ll develop strategies to make your conversation more fluent and natural while gaining confidence when speaking in English.</p>
          <p>To suit your learning needs and convenience,<span>THE PHOENIX (Recognized by the British Council)</span> offers Spoken English courses in a variety of formats, 
            ranging from 20 hours to 50 hours. To know more about our variety of Spoken English courses,please contact 03211261499</p>
          <ion-button shape="round" color="danger" size="large" class="mar-top-30" (click)="register()">
            <ion-icon slot="end" name="create-outline"></ion-icon>
            Register
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xl="2" size-lg="2" size-md="1" size="0"></ion-col>
  </ion-row>
</ion-content>
<app-custom-footer></app-custom-footer>