<app-custom-header></app-custom-header>
<ion-content>
  <ion-row>
    <ion-col size-xl="2" size-lg="2" size-md="1" size="0"></ion-col>
    <ion-col size-xl="8" size-lg="8" size-md="10" size="12">
      <ion-card class="card-content">
        <ion-card-header class="card-header">
          <ion-card-title>SCHOLARSHIP</ion-card-title>
        </ion-card-header>    
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Our official scholarship "SWAPNER UDAAN" will coming soon and also rules and regulation announce will be notified.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><a href="https://svmcm.wbhed.gov.in/">1.swami vivekananda scholarship</a></ion-label>
            </ion-item>
            <ion-item>
              <ion-label><a href="https://scholarships.gov.in/">2. NATIONAL SCHOLARSHIP</a></ion-label>
            </ion-item>
            <ion-item>
              <ion-label><a href="http://wbcmo.gov.in/donation.aspx">3.Chief minister scholarship</a></ion-label>
            </ion-item>
            <ion-item>
              <ion-label><a href="https://www.sitaramjindalfoundation.org">4. jindal scholarship</a></ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xl="2" size-lg="2" size-md="1" size="0"></ion-col>
  </ion-row>
</ion-content>
